<div class="cta-banner f1">
    <div class="cta-form">
        <h1 style="text-align: center !important;">Contact Us</h1>
        <form action="/temishaa/details" method="post">
            <input type="text" name="name" id="" placeholder="Enter your name">
            <input type="email" name="email" id="" placeholder="Leave your email here">
            <input type="number" name="number" placeholder=" Enter your contact number ">
            <textarea name="message" id="" cols="30" rows="5" placeholder="leave a message" ></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<footer class="footer">


    <div class="container">
        <div class="footer_inner">
            <div class="c-footer">
                <div class="layout">
                    <div class="layout_item w-50">
                        <a href="/temishaa/home"><img src="/assets/images/logo.png" alt="logo"></a>
                    </div>

                    <div class="layout_item w-25">
                        <nav class="c-nav-tool">
                            <h4 class="c-nav-tool_title">Menu</h4>
                            <ul class="c-nav-tool_list">
                                <li>
                                    <a href="/temishaa/newarrivals" class="c-link">New Arrival</a>
                                </li>

                                <li>
                                    <a href="/temishaa/homedecor" class="c-link">Home Decor</a>
                                </li>

                                <li>
                                    <a href="/temishaa/jwellery" class="c-link">Jwellery</a>
                                </li>
                                <li>
                                    <a href="/temishaa/about" class="c-link">About us</a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                    <div class="layout_item w-25">
                        <nav class="c-nav-tool">
                            <h4 class="c-nav-tool_title">Support</h4>
                            <ul class="c-nav-tool_list">

                                <li class="c-nav-tool_item">
                                    <a href="/" class="c-link">Shipping &amp; Returns</a>
                                </li>

                                <li class="c-nav-tool_item">
                                    <a href="/" class="c-link">Help &amp; FAQ</a>
                                </li>

                                <li class="c-nav-tool_item">
                                    <a href="/" class="c-link">Terms &amp; Conditions</a>
                                </li>

                                <li class="c-nav-tool_item">
                                    <a href="/" class="c-link">Privacy Policy</a>
                                </li>

                                <li class="c-nav-tool_item">
                                    <a href="/" class="c-link">Contact us</a>
                                </li>

                                
                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="layout c-2">
                    <div class="newsletter">
                        <h3 class="newsletter_title">Get updates on fun stuff you probably want to know
                            about in your inbox.</h3>
                    </div>
                    <div class="layout_item w-25">
                        <ul class="flex">
                            <a href="/temishaa/contact"><i class="fa-solid fa-phone"></i></a>
                            <a href="https://www.instagram.com/the_great_indian_coder/"> <i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="whatsapp:+917084992604"> <i class="fa-brands fa-whatsapp"></i></a>
                            <a href="mailto:suryakantgupta687@gmail.com"> <i
                                    class="fa-solid fa-envelope"></i></a>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="big-headding">
            <h1>Temishaa</h1>
        </div>

    </div>
</footer>
