
<header>
    <div class="top-bar">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <i class="fa-solid fa-arrow-right"></i>
    </div>
    <nav>
        <div class="nav-logo">
            <a href="/temishaa/home"><img src="/assets/images/logo.png" alt="Company logo"></a>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="/temishaa/home">Home</a></li>
                <li><a href="/temishaa/newarrivals">New Arrivals</a></li>
                <li><a href="/temishaa/homedecor">Home Decor</a></li>
                <li><a href="/temishaa/jwellery">Jwellery</a></li>
                <li><a href="/temishaa/about">About us</a></li>

            </ul>
        </div>
        <div class="nav-icons" style="color: #B36F27; font-size: 1.6rem;">
            <a href="/temishaa/contact"><i class="fa-solid fa-phone"></i></a>
            <a href="https://www.instagram.com/the_great_indian_coder/"> <i
                    class="fa-brands fa-instagram"></i></a>
            <a href="whatsapp:+917084992604"> <i class="fa-brands fa-whatsapp"></i></a>
            <a href="mailto:suryakantgupta687@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="hb">
            <i class="fa-solid fa-bars hb" ></i>
        </div>

   
    </nav>

   <div class="nav2">
    <i class="fa-solid fa-x fm"></i>
    <div class="nav-menu2">
        <ul>
            <li><a href="/temishaa/home">Home</a></li>
            <li><a href="/temishaa/newarrivals">New Arrivals</a></li>
            <li><a href="/temishaa/homedecor">Home Decor</a></li>
            <li><a href="/temishaa/jwellery">Jwellery</a></li>
            <li><a href="/temishaa/about">About us</a></li>

        </ul>
    </div>
    <div class="nav-icons2" style="color: #B36F27; font-size: 2rem;">
        <a href="/temishaa/contact"><i class="fa-solid fa-phone"></i></a>
        <a href="https://www.instagram.com/the_great_indian_coder/"> <i
                class="fa-brands fa-instagram"></i></a>
        <a href="whatsapp:+917084992604"> <i class="fa-brands fa-whatsapp"></i></a>
        <a href="mailto:suryakantgupta687@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
    </div>
   </div>

    
</header>