<% layout("/layouts/boilerplate") %>


<div class="heading-banner ab">
    <p>About us</p>
</div>


<!-- founder section  -->

<div class="founder-section">
    <div class="founder">
        <img src="https://via.placeholder.com/300x350" alt="Founder image">
        <div class="text">
            <h4>founder name</h4>
            <h6>position</h6>
            <p>founder message : Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore maiores
                omnis rem expedita cum modi a tenetur vitae voluptates, consequuntur, sint, reiciendis cupiditate
                accusamus repellat. Quasi nulla unde illum. Odio voluptas nostrum, sed natus similique molestias
                iusto id cum inventore fugit, quam rerum fugiat atque illo iste quis.</p>
        </div>
    </div>
    <div class="founder">
        <img src="https://via.placeholder.com/300x350" alt="Founder image">
        <div class="text">
            <h4>founder name</h4>
            <h6>position</h6>
            <p>founder message : Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore maiores
                omnis rem expedita cum modi a tenetur vitae voluptates, consequuntur, sint, reiciendis cupiditate
                accusamus repellat. Quasi nulla unde illum. Odio voluptas nostrum, sed natus similique molestias
                iusto id cum inventore fugit, quam rerum fugiat atque illo iste quis.</p>
        </div>
    </div>
</div>


<!-- security info -->

<div class="security-info">
    <div class="box first">
        <i class="fa-solid fa-truck-fast"></i>
        <h2>Secure Packaging</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta vero, dolor accusantium labore ut nobis blanditiis aliquid ea ab quisquam!

        </p>
    </div>
    <div class="box second">
        <i class="fa-solid fa-shield-halved"></i>
        <h2>Best Quality</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat minima voluptatum dolores quibusdam nostrum quas.</p>
    </div>
    <div class="box third">
        <i class="fa-regular fa-envelope"></i>
        <h2>Customer Service</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, architecto asperiores at amet natus consectetur optio nemo ullam debitis dolor?</p>
    </div>
</div>


<!-- testimonials -->

<div class="testimonials-bar">
    <h1>Testimonials</h1>
</div>

<div class="testimonial-container">
    <div class="progress-bar"></div>
    <div class="fas fa-quote-right fa-quote"></div>
    <div class="fas fa-quote-left fa-quote"></div>
    <p class="testimonial">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia repellendus, vitae suscipit culpa molestiae possimus voluptate consequuntur odit nulla saepe obcaecati dolorem laudantium praesentium aspernatur mollitia aperiam laborum rem cum commodi doloremque asperiores officia hic similique. Sint ad nobis quos?</p>
    <div class="user">
      <img src="https://randomuser.me/api/portraits/women/46.jpg" alt="user" class="user-image">
      <div class="user-details">
        <h4 class="username">Lola Smith</h4>
        <p class="role">Marketing</p>
      </div>
    </div>
  </div>




  
</div>
