<% layout("/layouts/boilerplate") %>


<body>

   

    <div class="heading-banner cn">
        <p>Contact us</p>
    </div>

    <div class="contact-box">
        <div class="call box">
            <p>Fastest way to get to us</p>
            <h3>Call or whatsapp us</h3>
            <p>+91 9876543210</p>
            <p>+91 9876543210</p>
            <a href="whatsapp:+919876543210">Let's chat</a>
        </div>
        <div class="email box">
            <p>Write us AT</p>
            <h3>Email</h3>
            <p>We will get back to you in 24 - 48 hours</p>
            <p>contact@example.gmail.com</p>
            <a href="mailto:contact@example.gmail.com">Email us</a>
        </div>

    </div>

    <p class="para">
        Need help? Have a question about bulk orders, or about collaborations? We would love to hear from you.
    </p>

    <div class="form-area">
        <div class="left">
            <h1>We would love to hear from you</h1>
            <p>Need something and can't find it on the website?</p>
            <p>Or just wanna say hi?</p>
            <p>Want a special customized order?</p>
            <p>Problems while shopping?</p>

        </div>

        <div class="right">
            <form action="/temishaa/details" method="post">
                <input type="text" name="name" id="" placeholder="Enter your name">
                <input type="email" name="email" id="" placeholder="Leave your email here">
                <input type="number" name="number" placeholder=" Enter your contact number ">
                <textarea name="message" id="" cols="30" rows="5" placeholder="leave a message" ></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>

    <hr style="margin-top: 4rem; border: .5px solid #B36F27;">

     <!-- security info -->

     <div class="security-info">
        <div class="box first">
            <i class="fa-solid fa-truck-fast"></i>
            <h2>Secure Packaging</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta vero, dolor accusantium labore ut nobis blanditiis aliquid ea ab quisquam!

            </p>
        </div>
        <div class="box second">
            <i class="fa-solid fa-shield-halved"></i>
            <h2>Best Quality</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat minima voluptatum dolores quibusdam nostrum quas.</p>
        </div>
        <div class="box third">
            <i class="fa-regular fa-envelope"></i>
            <h2>Customer Service</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, architecto asperiores at amet natus consectetur optio nemo ullam debitis dolor?</p>
        </div>
    </div>


    
    

</body>

